:root{
    --background-gradient: linear-gradient(180deg, rgb(0, 255, 229), rgb(9, 108, 98)); 
    --white: rgb(255, 255, 255);   
}

html{
    font-size: 15px;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-gradient);
}

.card{
    background-color: var(--white);
    padding: 1rem 4rem;
    border-radius: .5rem;
}

img{
    margin: auto;
    max-width: 100%;
    display: block;
    border-radius: 100%;
    border: 5px rgb(0, 255, 229) solid;
    height: 150px;
    width: 150px;
}

h2{
    text-align: center;
}

span{
    font-weight: bold;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    background: var(--background-gradient);
    color: var(--white);
    padding: 1rem;
    border-radius: .5rem;
    width: 100%;
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}